.ul {
    list-style: none;
    padding: 0;
}

.listDiv {
    background-color:white;
    color:black;
    font-weight: bold;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 5rem auto;
    padding:10px;
    width: 40rem;
}